@{
    ViewBag.Title = "E-mail bevestigen";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Bedankt om uw e-mailadres te bevestigen. @Html.ActionLink("Klik hier om in te loggen", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
