@{
    ViewBag.Title = "Bevestiging wachtwoord vergeten";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        We hebben u een e-mail gestuurd om uw wachtwoord opnieuw in te stellen.
    </p>
</div>
	
