@{
    ViewBag.Title = "Bevestiging opnieuw instellen wachtwoord";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Uw heeft uw paswoord opnieuw ingesteld. @Html.ActionLink("Klik hier om in te loggen", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
