@model KaartingenGrootDeinze.Models.Kaarting

@{
    ViewBag.Title = "Verwijderen";
}

<h2>Kaarting van @Model.Datum.ToShortDateString() in @ViewBag.Zaak verwijderen?</h2>

@using (Html.BeginForm("Verwijderen", "Kaarting", new { id = Model.KaartingId }))
{
    var url = Url.Action("Index", "Kaarting", null);
    <input type="submit" value="Verwijderen" class="btn btn-primary" />
    <a href="@url" class="btn btn-primary">Annuleren</a>
}

