
@{
    ViewBag.Title = "Bericht verzonden";
}

<h2>Bericht verzonden</h2>
<p>Bedankt voor uw interesse in onze kaartingen. We nemen zo snel mogelijk contact met u op.</p>

@Html.ActionLink("Naar homepage", "Index", "Home", null, new { @class = "btn btn-primary" })

