@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<p>Vul onderstaand formulier in of bel naar:</p>

<ul>
    <li>Gaby: 09/386.56.32 of 0474/37.14.09</li>
    <li>Luc: 0476/96.16.91</li>
    <li>Roger</li>
</ul>