@{
    ViewBag.Title = "Contacteer ons";
}
<h2>@ViewBag.Title</h2>

<p>Vul onderstaand formulier in of bel naar:</p>

<ul>
    <li>Gaby: 09/386.56.32 of 0474/37.14.09</li>
    <li>Luc: 0476/96.16.91</li>
    <li>Roger</li>
</ul>




https://www.c-sharpcorner.com/UploadFile/2a6dc5/how-to-send-a-email-using-Asp-Net-C-Sharp/


https://www.youtube.com/watch?v=uuyMcmwJGO8


http://csharp.net-informations.com/communications/csharp-smtp-mail.htm